.el-dropdown{
  color:#98aee3!important;
}
.el-dropdown-menu{
  background-color: #102773!important;
  border: 1px solid #2370e8!important;
  width: 150px!important;
  max-height:250px!important;
  overflow-y: auto!important;
}
.el-dropdown-menu__item{
  color:#98aee3!important;
  text-align: center!important;
  border-bottom: 1px solid #2e4694!important;
}
.el-popper[x-placement^=top] .popper__arrow{
  border-top-color: #2370e8!important;
  display: none!important;
}
.el-popper[x-placement^=top] .popper__arrow::after{
  border-top-color: #102773!important;
}
.el-select-dropdown{
  background: #0b0f34!important;
  border: 1px solid #409eff!important;
  color: #fff!important;
}
.el-select-dropdown__item{
  color: #D6DFEB!important;
  height: 28px!important;
  line-height: 28px!important;
  font-size: 12px!important;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #5a7494!important;
}
/*日期*/
.el-picker-panel {
  color: #349ef3!important;
  border: 1px solid #409eff!important;
  background: #0b0f34!important;
}
.el-date-picker__header-label{
  color: #a3b9ec!important;
}
.el-date-table th{
  color: #a3b9ec!important;
  border-bottom: 1px solid #409eff!important;
}
.el-picker-panel__icon-btn{
  color: #a3b9ec!important;
}
.el-date-table td.today span {
  color: #39c0a7!important;
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
  border-bottom-color: #0b0f33!important;
}
.el-picker-panel__footer{
  background: 0!important;
  border-top: 1px solid #409eff!important;
}
.el-time-panel{
  width: 157px!important;
}
.el-date-picker__header-label{
  /*float: left!important;*/
  /*margin:0 10px!important;*/
}
.el-date-picker__header--bordered{
  border: 0!important;
}
.el-year-table td .cell,.el-month-table td .cell{
  color: #7788b7!important;
}
.el-date-picker__time-header{
  border-bottom: 1px solid #3278ca!important;
}
