* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #D6DFEB;
}
html{
    min-width: 1366px;
    /*overflow: auto;*/
    overflow-y: hidden;
    background: url("/static/img/bg2.png");
    background-size: 100% 100%;
}
body {
    font-family:'微软雅黑','PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}
li,ol{
    list-style: none;
}

.content-box {
    position: absolute;
    left: 170px;
    right: 0;
    top: 50px;
    bottom: 36px;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: rgb(12,15,26);
}

.content {
    /*width: auto;*/
    height: 100%;
    overflow: hidden;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}
.content>.content-bg{
    min-height: 100%;
    width: 100%;
    background: rgb(26,36,47);
    overflow: hidden;
}
.content-collapse {
    left: 65px;
}

.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.top-title{
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #e4956d;
    text-shadow: 3px 4px 3px #4e7ba9;
    border-bottom: 1px solid #303e4e;
}

.crumbs {
    margin: 10px 0;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}

/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}


/*markdown*/

.v-note-wrapper .v-note-panel {
    min-height: 500px;
}
/*滚动条*/
::-webkit-scrollbar-track {
    background-color:#303e4e
}
::-webkit-scrollbar {
    width:6px;
    background-color:#F5F5F5
}
::-webkit-scrollbar-thumb {
    background-color:#999
}
/*layer*/
.layui-layer-title{
    background-color: #2d6fb3!important;
    color:#fff!important;
    border: 0!important;
    font-weight: 600!important;
    font-size: 15px!important;
}
.layui-layer-iframe{
    box-shadow: 0 3px 15px #4781bb!important;
}
.layui-layer-iframe .layui-layer-content{
    background: rgb(26,36,47)!important;
    overflow: auto!important;
    border: 1px solid #303e4e!important;
}
.layui-layer-dialog .layui-layer-content{
    color: #000!important;
}
.layui-layer-page .layui-layer-content{
    overflow-y: auto!important;
}
.layui-layer-page .layui-layer-content > form{
    padding: 10px!important;
}
.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn {
    /* padding-top: 10px; */
    background: #303e4e!important;
    border-top: 1px solid #293441!important;
}
.el-form--label-top .el-form-item__label{
    color: #e4956d!important;
    font-weight: 600!important;
    padding: 0!important;
}
.el-menu{
    border-right: solid 1px #303e4e;
}
/*富文本编辑器*/
/*VueEditor*/

.ql-container {
    min-height: 200px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}
.ql-editor{
    height: 200px!important;
}

.ql-snow .ql-stroke{
    stroke:#fff!important;
}
.ql-picker-options .ql-snow .ql-stroke{
    stroke:#496688!important;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
    fill: #fff!important;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    border-color: #fff!important;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    color: #fff!important;
}
.ql-toolbar.ql-snow .ql-picker-label{
    color: #fff!important;
}
.ql-container.ql-snow{
    border: 1px solid #409eff!important;
}
.ql-toolbar.ql-snow{
    border: 1px solid #409eff!important;
    background: #496688;
}
.ql-editor.ql-blank::before{
    color: #fff!important;
}
.ql-editor{
    height: 200px!important;
}
.ql-snow.ql-toolbar button.ql-active{
    color: #409eff!important;
}
.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #409eff!important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #409eff!important;
}
.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: #409eff!important;
}
